/* Write the CSS for you answer here */
#treebackground {
    display: block;
    margin: auto;
    height: 540px;
    width: 700px;
}

#decorations {
    position: absolute;
}

#background {
    position: absolute;
    z-index: -2;
}
#tree {
    position: absolute;
    width: 700px;
    top: 150px;
    z-index: -1;
}
.bauble {
    z-index: 0;
    margin: auto;
}
#blue {
    position: absolute;
    top: 400px;
    left: 70px;
}

#darkblue {
    position: absolute;
    top: 320px;
    left: 200px;
}

#red{
    position: absolute;
    top: 410px;
    left: 400px;
    z-index: -1;
}
#pink{
    position: absolute;
    top: 200px;
    left: 500px;
}
#green{
    position: absolute;
    top: 350px;
    left: 600px;
}
#orange{
    position: absolute;
    top: 280px;
    left: 370px;

}
